<div id="po_button" align="right">
	<% form_for :listby, :url => {
				:controller => :purchases, :action => :new_purchase, :id => 1}  do |p| %>
				<%= p.submit 'New Purchase Order' %>
			<% end %> 
</div>

<table border="1">
	<tr>
		<th><h2>Call Board</h2></th>
		<th><h2>Contacts</h2></th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<% remote_form_for :listby, 
								:url => {:action => :call_list, :id => 1},
								:update => 'calllist'  do |a| %>
							<%= a.submit 'All' %>
						<% end %> 
					</td>
					<td>
						<% remote_form_for :listby, 
								:url => {:action => :my_calls, :id => 1, :aid => @agent},
								:update => 'calllist'  do |m| %>
							<%= m.submit 'Mine' %>
						<% end %>
					</td>
					<td>
						<% remote_form_for :listby, 
								:url => {:action => :searched_calls, :id =>1, :aid => @agent},
								:update => 'calllist'  do |c| %>
							<%= c.submit 'Search' %>
							<%= c.text_field :search, :size => 15 %>
						<% end %>
					</td>
				</tr>
			</table>
			<div id="calllist" style="width:500px; height:250px; vertical-align:top; overflow: auto;">
			    	<%= render :partial => 'call_list' %>
			</div>
		</td>
		<td>
			<div id="contactlist" style="width:350px; height:250px; vertical-align:top; overflow: auto;">
    			<%= render :partial => 'contacts' %>
			</div>
		</td>
	</tr>
</table>
<br />
<hr />
<h2>Client List</h2>
<div id="clientlist" style="width:600px">
    	<%= render :partial => 'client_list' %>
</div>