<div id="contact" style="width:350px; height:600px; vertical-align:top; overflow: auto;">
	<%= link_to_remote 'Call', 
							:url => {:action => :sales_call, :id => @sales_contact.id},
							:update => 'calllist' %> | 
	<%= link_to_remote 'New', 
							:url => {:action => :new_contact},
							:update => 'contactlist' %> | 
	<%= link_to_remote 'Edit', 
							:url => {:action => :edit_contact, :id => @sales_contact.id},
							:update => 'contactlist' %> | 
	<%= link_to_remote 'Back', 
							:url => {:action => :contacts, :id => @sales_contact.id},
							:update => 'contactlist' %>
	<% if contact.cid.nil? %>				
	 | <%= link_to_remote 'Register', 
							:url => {:action => :contact, :id => @sales_contact.id},
							:update => 'contactlist' %>
	<% end %> 
	| <%= link_to_remote 'Call List', 
							:url => {:action => :call_list, :id => @sales_contact.id},
							:update => 'calllist' %>
	<br />
	
	<%=h @sales_contact.phone%>
	<% unless @sales_contact.fax.nil? %>
		(fax: <%=h @sales_contact.fax %>
	<% end %>)<br />
	<%=h @sales_contact.email%><hr />
	<%=h @sales_contact.company%><br />
	<%=h @sales_contact.firstname %> <%=h @sales_contact.lastname %><br />
	<%=h @sales_contact.address1 %><br />
	<% unless @sales_contact.address2.nil? or @sales_contact.address2 == '' %>
		<%=h @sales_contact.address2 %><br />  
	<% end %>  
	<%=h @sales_contact.city %>, <%=h @sales_contact.state %> <%=h @sales_contact.zipcode %> <%=h @sales_contact.country %><br />
	
	<p>
	  <b>Contact Notes: </b><br />
	  <%=h @sales_contact.contact_notes %>
	</p>		

	<p>	
	  <b>Agent: </b>
	  <%=h @sales_contact.agent_id %>
	</p>
	
	<p>
	  <b>Created at:</b>
	  <%=h @sales_contact.created_at %>
	</p>
	
	<p>
	  <b>Updated at:</b>
	  <%=h @sales_contact.updated_at %>
	</p>
</div>